/* Setting about-page globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Setting typography for headings & body*/
body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
}


h1 {
    text-transform: capitalize;
    color: #23247A;
}

h2 {
    font-family: source-sans-pro, sans-serif;
    color: #23247A;
    letter-spacing: 3px;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    font-family: source-sans-pro, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

h4 {
    font-family: source-sans-pro, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
}

li {
    list-style-position: inside;
}

button {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.70em 1em;
    background-color: #18b7ff;
    border: none;
    border-radius: 1.3em;
    cursor: pointer;
    align-self: flex-end;
    margin-top: auto;
}

button:hover {
    background-color: rgba(24, 183, 255, 0.7)
}

/********************************************* Nav Header *****/
/* Setting header with nav elements */
header {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    z-index: 999;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#logo {
    float: left;
    font-size: 2.0rem;
    padding-left: 5rem;
    text-decoration: none;
}

nav {
    font-size: 1.0rem;
    letter-spacing: 4px;
}

nav ul {
    display: flex;
    justify-content: right;
}

nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.nav-cta {
    padding: 0.70em 1em;
    background-color: #18b7ff;
    border: none;
    border-radius: 1.3em;
    cursor: pointer;
}

.nav-cta:hover {
    background-color: rgba(24, 183, 255, 0.7);
    border-bottom: none;
}

nav,
#logo {
    line-height: 75px;
}

nav a:hover {
    border-bottom: 1px solid #F20505;
}

.active {
    border-bottom: 1px solid #23247A;
}

.nav-cta {
    padding: 0.70em 1em;
    background-color: #18b7ff;
    border: none;
    border-radius: 1.3em;
    cursor: pointer;
}

.nav-cta:hover {
    background-color: rgba(24, 183, 255, 0.5);
    border-bottom: none;
}

/* Hides hamburger menu for screens >1200px */
.nav-toggle-label,
.nav-toggle {
    display: none;
}

/* NAV HEADER Responsive Design tabelt / mobile */
@media screen and (max-width: 1200px) {
    header {
        height: 5rem;
    }

    /* Logo moves from left side to right */
    #logo {
        margin: 0 auto;
        float: right;
        padding-right: 2em;
        font-size: 1.5rem;
        align-items: center;
    }

    /* Nav bar position from right to left */
    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: aliceblue;
        width: 100%;
        display: none;
    }

    /* Nav bar column instead of row */
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }

    nav li {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    /* Font size decrease */
    nav a {
        font-size: 1.2rem;
    }

    /* Query to check if selected */
    .nav-toggle:checked~nav {
        display: block;
        width: 12.5rem;
        text-align: center;
    }

    /* Hide check box */
    .nav-toggle {
        display: none;
    }

    /* Replacing checkbox with clickable lines */
    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: rgb(17, 17, 17);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }
}